.fullWidthAndHeight{
  width: 100%;
  height: 100%;
}
.flexbox-horizontal{
  display: flex;
  flex-direction: row;
}
.flex-wrap{
  flex-wrap: wrap;
}
.flexbox-vertical{
  display: flex;
  flex-direction: column;
}

.fullWidth{
  width:100%;
}

.marginHor20{
  margin-left: 20px;
  margin-right: 20px;
}
